*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Dancing Script', cursive;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffffff,#f8f8f8,#ececec);
    color:#333;
}

.contenedor{
    width:95%;
    max-width:1600px;
    text-align:center;
}

h1{
    font-size:38px;
    margin-bottom:18px;
    font-weight:700;
    color:#222;
}

.subtitulo{
    font-size:18px;
    margin-bottom:85px;
    line-height:1.6;
    color:#666;
}

.cartas{
    display:grid;
    grid-template-columns:repeat(2, 230px);
    justify-content:center;
    gap:35px 25px;
}

.carta{
    width:230px;
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 12px 30px rgba(0,0,0,.12);
    transition:.35s;
    cursor:pointer;
}

#carta3{
    grid-column:1 / span 2;
    justify-self:center;
}
.carta:hover{
    transform:translateY(-6px) scale(1.02);
}

.carta img{
    width:80px;
    margin-bottom:16px;
}

.carta h2{
    font-size:22px;
    margin-bottom:8px;
    color:#222;
}

.carta span{
    display:block;
    margin-top:12px;
    font-size:15px;
    color:#777;
}

.bloqueada{
    opacity:.55;
}

.visor{
    position:fixed;
    inset:0;
    background:rgba(255,255,255,.95);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.oculto{
    display:none;
}

.papel{
    width:88%;
    max-width:900px;
    height:88vh;
    background:#fff;
    border-radius:20px;
    overflow-y:auto;
    box-shadow:0 18px 45px rgba(0,0,0,.18);
    position:relative;
}

.foto-carta{
    width:100%;
    max-height:380px;
    object-fit:cover;
    display:block;
    border-radius:20px 20px 0 0;
}

.texto{
    padding:55px;
    font-size:19px;
    line-height:1.9;
    text-align:justify;
    color:#444;
}

.texto h2{
    text-align:left;
    font-size:34px;
    font-weight:700;
    margin-bottom:28px;
    color:#222;
}

.texto p{
    margin-bottom:24px;
}

#cerrar{
    position:absolute;
    top:15px;
    right:15px;
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#fff;
    font-size:22px;
    cursor:pointer;
    box-shadow:0 4px 12px rgba(0,0,0,.12);
    z-index:10;
}
